.about-container {
    font-family: 'Arial', sans-serif;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center content vertically */
    padding-bottom: 40px;
    min-height: 100vh; /* Ensures it takes the full height of the viewport */
    background-image: url('./contactimg.jpg'); /* Set aboutimg as background */
    background-size: cover;
    position: relative;
}

.about-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Optional dark overlay */
    z-index: 0;
}

.about-content-wrapper {
    z-index: 1;
    width: 100%;
    max-width: 1200px; /* Constrain the width */
    margin: 0 auto; /* Center horizontally */
    padding: 20px; /* Optional spacing around the content */
}

section {
    padding: 40px 20px;
    max-width: 1200px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 70px 20px;
    text-align: center;
}

.hero-content {
    text-align: center;
    margin-bottom: 20px;
}

.hero-image-container {
    display: flex;
    justify-content: center;
}

.hero-image {
    max-width: 300px;
    height: auto;
}

.learn-more-btn {
    display: inline-block;
    background: #5b4fa7;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

.learn-more-btn:hover {
    background: #5b4fa7cc;
}
