/* Contact Page Styles - Unified Background */
.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  padding: 20px;
  box-sizing: border-box;
  /* Removed gradient */
  background-image: url('./aboutimg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
    
  color: #fff;
  animation: fadeIn 1s ease-in-out; /* Fade-in animation from home */
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.contact-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
}
.contact-form {
    background-color: #ffffff;
    /* Removed background color*/
    padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 500px;
     /* background-image: url("C:\Users\mogud\OneDrive\Desktop\Automated-Redaction\public\km.png");   */
  background-position: center;
    background-repeat: no-repeat;
}
.form-group {
  margin-bottom: 15px;
}
.form-group label {
  display: block;
  font-size: 1rem;
  margin-bottom: 5px;
  color: #333;
}
.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
}
.form-group input:focus,
.form-group textarea:focus {
  border-color: #0d2547;
  outline: none;
}
.submit-button {
  background-color: #122847;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}
.submit-button:hover {
  background-color: #2b4a88;
}
.success-message {
  margin-top: 20px;
  color: #e1e4ec;
  font-size: 1rem;
}