/* Navbar.css */
.navbar {
  background: rgba(0, 0, 0, 0.7); /* Semi-transparent dark background */
  color: #fff; /* Light text */
  padding: 10px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
  /* Light shadow for contrast */
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: box-shadow 0.3s ease;
}

.navbar:hover {
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
  /* Increased shadow on hover */
}

.navbar-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-left-container{
display: flex;
  align-items: center;
}

.project-name {
  margin: 0;
  font-size: 24px;
  color: #007bff; /* Highlight color for the project name */
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.project-name a{
color: #007bff;
  text-decoration: none;
}
.project-name a:hover{
  color: #0056b3;
  transform: scale(1.05);
}

.navbar-left {
  list-style-type: none;
  margin: 0 0 0 20px;
  padding: 0;
  display: flex;
  gap: 20px;
}

.navbar-left li {
  display: inline;
}

.navbar-left li a {
  color: #fff;
  /* Light text color */
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  transition: color 0.3s ease;
}

.navbar-left li a:hover {
  color: #007bff;
  /* Highlight color on hover */
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
}


.btn {
  padding: 12px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  margin-top: 10px;
  width: fit-content;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to right, #007bff, #0056b3);
  background-size: 200% auto;
  transition: background-position 0.5s ease;
}

.btn:hover {
  background-color: #0056b3;
  background-position: right center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.btn-sign-in {
  color: #fff;
  /* Light text color */
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  transition: color 0.3s ease;
}

.btn-sign-in:hover {
  color: #007bff;
  /* Highlight color on hover */
  transform: scale(1.05);
}

.btn-sign-up {
  color: #fff;
  /* Light text color */
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  transition: color 0.3s ease;
}

.btn-sign-up:hover {
  color: #007bff;
  /* Highlight color on hover */
  transform: scale(1.05);
}